<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#" class="btn btn-sm btn-outline-secondary">
        Kembali Keatas
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg>
      </a>
    </p>
    <p class="mb-1">&copy; Kelompok 3 Toko Foto</p>
  </div>
</footer>


    <script src="javascripts/bootstrap.bundle.min.js"></script>
    <script src="javascripts/foto.js"></script>
    
      
  </body>
</html>